
.side
  .header
    .box
      .user-name
        = current_user.name
      .menu
        .new-group
          = link_to new_group_path do
            = icon('fas', 'pen-square', class: 'icon')
        .edit-account
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .middle
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .name
            = group.name
          .latest-message
            メッセージはまだありません。
