.main
  .header
    .left-box
      .current-group
        = @group.name
      %ul.member-list
        Member:
        %li.list
          - @group.users.each do |user|
            = user.name
    .right-box
      .edit-btn
        = link_to 'Edit', edit_group_path(@group.id) ,class: 'edit-btn'
  .messages
    = render @messages
  .form
    = form_for [@group, @message], remote: true do |f|
      .box
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'